<div ng-include="'components/navbar/navbar.html'"></div>

<!--<header class="hero-unit" id="banner">-->
<!--<div class="container">-->
<!--<h1>Word River!</h1>-->
<!--<p class="lead">Changing mainstream learning</p>-->
<!--<img src="assets/images/waterSplash.png" alt="I'm Yeoman">-->
<!--</div>-->
<!--</header>-->
<!--We added this to access bootstrap capabilities-->
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<!-- This is the student list -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <input type="submit" value="Assign Context Pack" class="btn btn-primary" ng-click="assignContextPack()">
      <h1 class="page-header">Students:</h1>
      <ul class="nav nav-tabs nav-stacked" ng-repeat="student in studentList">
        <li><label><input type="checkbox" ng-model = "student.isChecked" ><a href="" ng-click="studentInfo(student)" tooltip="{{student.lastName}}">{{student.firstName}}&nbsp{{student.lastName}}</a></label></li>
      </ul>
    </div>

<!-- this is show student -->
    <div class="col-xs-2">
      <div ng-show="showStudent">
        <h1 class="page-header">Student Name: {{currentStudent.firstName}}&nbsp{{currentStudent.lastName}}</h1>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="pack in currentStudent.studentContextPackArray track by $index">
            <a href="" ng-click="packInfo(pack)">{{pack.packName}}</a>
            <button type="button" class="close" title="Delete Context Pack" data-toggle="tooltip" ng-click="confirmDeleteStudentPack($index)">&times;</button>
        </ul>
        <!-- this is where the individual student's words are going to be listed -->
      </div>
      <!--<div ng-controller = "AddingWordsCtrl">-->
        <!--<ul class="list-group">-->
          <!--<li class="list-group-item" ng-repeat="words in currentStudent.studentWordArray"></li>-->
        <!--</ul>-->
        <!--{{currentStudent}}-->
        <!--{{currentStudent.studentWordArray}}-->
      <!--</div>-->
    </div>


    <!-- this is the context packs -->
    <div class="col-xs-2">
      <h1 class="page-header">Context Packs:</h1>
      <!--<button class="btn btn-primary" ng-click="toSortForContextPacks = 'packName'; orderForContextPacks = !orderForContextPacks">Sort Alphabetically</button>-->
      <button class="btn btn-primary" ng-click="contextPacks.sort(orderBy('packName'))">A-Z</button>
      <button class="btn btn-primary" ng-click="contextPacks.sort(orderBy('-packName'))">Z-A</button>

      <br>
      <br>
      <ul class="list-group">
        <li class="list-group-item">
          <form ng-submit="addContextPacks()">
            <input ng-model="textField" type="text" size="15" placeholder="add a context pack!">
            <input type="submit" value="submit" class="btn btn-primary">
          </form>
        </li>

        <li class="list-group-item" ng-repeat="pack in contextPacks">
          <label><input type="checkbox"  ng-model = "pack.isChecked"><a href="" ng-click="packInfo(pack)">{{pack.packName}}</a></label>
          <button type="button" class="close" title="Delete Context Pack" data-toggle="tooltip" ng-click="confirmDelete($index)">&times;</button>
      </ul>
    </div>

    <!-- this is the context packs components -->
    <div class="col-xs-3">
      <div ng-show="showPack">
        <h1 class="page-header">Tiles in {{currentPack.packName}}:</h1>
        <!--<button class="btn btn-primary" ng-click="toSortForTiles = 'tiles'; orderForTiles = !orderForTiles">Sort Alphabetically</button>-->
        <button class="btn btn-primary" ng-click="contextPacks.tiles.sort(orderBy('wordType'))">Sort Alphabetically</button>
        <br>
        <br>
        <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="tile in currentPack.tiles track by $index">
          <li>{{tile.wordName}}<button type="button" class="close" ng-click="deleteTile(currentPack, $index)">&times;</button></li>
        </ul>
        <div ng-hide="showTileAdder">
          <a href="#" ng-click="toggleShowAdder()">Add a card...</a>
        </div>
        <div ng-show="showTileAdder">
          <form ng-submit="addTile()" >
            <input ng-model="tileField" type="text" size="8" placeholder="add a tile!">
            <input ng-model="wordTypeField" type="text" size="12" placeholder="add a word type!">
            <input type="submit" value="Add" class="btn btn-primary">
            <button type="button" class="btn btn-link" ng-click="toggleShowAdder()">Done</button>
          </form>

        </div>
      </div>
    </div>


  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3">
        <h1 class="page-header">Groups:</h1>
        <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" data-ng-repeat="group in groupList">
          <li><label><input type="checkbox" ng-model = "group.isChecked" ><a href="#" data-ng-bind="group.groupName" data-ng-click="showStudents(group)" >{{group.groupName}}</a></label></li>
          <!--we delete this part for now, we need to add it back later. ng-hide = "showGroupList"-->
          <!--<li><a href="#" ></a>{{group.students}}</li>-->
        </ul>
      </div>
      <div class = "col-xs-1" ng-hide = "showStudentList">
        <h1 class = "page-header">Students: </h1>
          <ul ng-repeat = "students in studentListInGroup">{{students.name}}</ul>
      </div>
    </div>
  </div>

<footer class="footer">
    <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://tw  itter.com/tyhenkel">@tyhenkel</a> |
        <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
    </div>
</footer>
</div>
