<div ng-include="'components/navbar/navbar.html'"></div>



<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Add Words!</h1>
  </div>
</header>

<div class="container-fluid">
  <div class = "row">
<!--<div class="container">-->


<!--This is the student list -->
  <div class="col-md-3">
    <h3 class="page-header">Students:</h3>
    <p>Sort Students by last name:</p>
    <button class="btn btn-primary" title="Sort A-Z" ng-click="studentList.sort(orderBy('lastName'))">A-Z</button>
    <button class="btn btn-primary" title="Sort Z-A" ng-click="studentList.sort(orderBy('-lastName'))">Z-A</button>
    <br>
    <br>
    <ul class="nav nav-tabs nav-stacked" ng-repeat="person in studentList | filter: class |orderBy: 'student'" ng-show="true">
      <li><label><input type="checkbox" value="studentChecked"  ng-click="allCheckedStudents(person)"><a href="/overview" ng-controller = "OverviewCtrl" ng-click = "studentInfo(person)"> {{person.student}}</a></label></li>
    </ul>
  </div>



<!--this is the word information -->
    <div class="col-md-6">
      <h3 class="page-header">Words:</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <form ng-submit="hasDuplicateValues()">
            <input ng-model="wordField" type="text" size="50" placeholder="add a new item to the list!">
            <input type="submit" value="Add" class="btn btn-primary">
            <!--added the sort alphabetically button here-->
            <button class="btn btn-primary" ng-click="toSort = 'words'; order = !order">Sort Alphabetically</button>
          </form>
        </li>
        <li class="list-group-item" ng-repeat="test in allWords track by $index| orderBy: toSort:order"><label><input type="checkbox" value="isChecked" ng-click="allCheckedWords(test)"> {{test.words}}</label>
          <button type="button" class="close" title = "Delete Word" ng-click="confirmDeleteWord($index)">&times;</button></li>
      </ul>
    </div>



  <div class ="col-md-2">
    <h3 class="page-header">Add:</h3>
    <input type="submit" value="Add word(s) to student(s)" ng-click="pushWordsToStudents()">
  </div>
<!-- make check boxes push information, be able to maybe check and uncheck all (we can do this last), put tables by each other, make names seen right away, not just groups, and move garbage cans over-->
</div>



